.auth-form {
    width: 25rem;
    max-width: 80%;
    margin: 5rem auto;
}

.form-control label,
.form-control input {
    width: 100%;
    display: block;
}

.form-control label {
    margin-bottom: 1rem;
}
.form-control {
    margin-bottom: 4rem;
}

.form-actions button {
    background: #01d1d1;
    font: inherit;
    border: 1px solid #01d1d1;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.form-actions button:hover,
.form-actions  button:active {
    background: #01a7a7;
    border-color: #01a7a7;
}