@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900");

 .contact_body {
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding-top: 1rem;
     font-family: Muli;
     font-size: 20px;
     font-weight: 700;
 }

 .form-group {
     max-width: 24em;
     min-width: 21em;
 }

 