@import url("https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900");

.home_container{
    height: 1600px;
    display: grid;
    font-family: Muli;
}

.slide{
    position: relative;
    text-align: center;
    height: auto;
    color: white;
}

span{
    font-size: 60px;
    font-weight: 900;
    color: #ff9908;
    text-transform: uppercase;
    line-height: 0.75;
    margin-left: 7px;
}

.slide_button {
    margin-top: 54px;
}

.button a {
    display: block;
    position: relative;
    width: 50%;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #ffa07f;
    line-height: 60px;
}

.button {
    text-align: center;
}

.background_image_box {
    height: 200px;
}

.background_image{
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.image_text_container {
    position: absolute;
    top: 45%;
    left: 65%;
    transform: translate(-50%, -50%);
}

.content{
    display: block;
    position: relative;
    font-size: 50px;
    line-height: 1.3;
    color: black;
}

.features_container {
    display: block;
    text-align: center !important;
    flex-wrap: wrap;
    width: 100%;
    padding: 4.5em 2.25em;
    padding-top: 6em;
    flex-direction: column !important;
    box-sizing: inherit;
}

.title_box{
    display: flex;
    align-items: center;
    min-width: 18em;
}

.features_title{
    margin-bottom: .5rem;
    padding: 0 3em;
    min-width: 15em;
}

.features_title h2 {
    font-size: 3rem;
    font-weight: 800;
    padding: 0 7.5em;
}

.features.col{
    width: 200px;
}

.icon_box_img {
    width: 100%;
    height: auto;
    align-items: center!important;
}

.icon_image {
    max-width: 200px;
}

.icon_box_title {
    margin-top: 50px;
    font-size: 30px;
    font-weight: 700;
    color: black;
}

.icon_box_text{
    margin-top: 14px;
    font-size: 20px;
}